services:
  basefaq.faq.faqweb.app:
    image: basefaq.faq.faqweb.app
    build:
      context: ..
      dockerfile: dotnet/BaseFaq.Faq.FaqWeb.App/Dockerfile
    ports:
      - "5010:5010"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5010
      - ConnectionStrings__FaqDb=Host=postgres;Port=5432;Database=bf_faq_db;Username=postgres;Password=Pass123$;
      - ConnectionStrings__TenantDb=Host=postgres;Port=5432;Database=bf_tenant_db;Username=postgres;Password=Pass123$;
    networks:
      - bf-network

networks:
  bf-network:
    external: true
    name: bf-network
