services:
  basefaq.faq.faqweb.app:
    image: basefaq.faq.faqweb.app
    build:
      context: ..
      dockerfile: dotnet/BaseFaq.Faq.FaqWeb.App/Dockerfile
    ports:
      - "5010:5010"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5010
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - bf-network
  basefaq.tenant.tenantweb.app:
    image: basefaq.tenant.tenantweb.app
    build:
      context: ..
      dockerfile: dotnet/BaseFaq.Tenant.TenantWeb.App/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - bf-network

networks:
  bf-network:
    external: true
    name: bf-network
