networks:
  bf-network:
    driver: bridge
    name: bf-network

volumes:
  rabbitmq:
  cache:
  smtp4dev-data:
  postgres:

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Pass123$$
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./postgres:/docker-entrypoint-initdb.d
    networks:
      - bf-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 20s
      retries: 20
      start_period: 3s

  smtp:
    container_name: smtp
    restart: always
    image: rnwood/smtp4dev:3.2.0-ci20220809112
    ports:
      - '4590:80'
      - '1025:1025'
    volumes:
      - smtp4dev-data:/smtp4dev
    environment:
      - ServerOptions__Port=1025
    networks:
      - bf-network

  rabbitmq:
    container_name: rabbitmq
    restart: always
    image: rabbitmq:3-management-alpine
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    ports:
      - '15672:15672'
      - '5672:5672'
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    networks:
      - bf-network
    environment:
      - RABBITMQ_MANAGEMENT_DISABLE_HTTP_AUTH=true

  cache:
    container_name: redis
    restart: always
    image: redis:7-alpine
    ports:
      - '127.0.0.1:6379:6379'
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD:?set REDIS_PASSWORD}
    command:
      - redis-server
      - --appendonly
      - "yes"
      - --save
      - "20"
      - "1"
      - --loglevel
      - warning
      - --requirepass
      - ${REDIS_PASSWORD}
    networks:
      - bf-network
    volumes:
      - cache:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
