services:
  basefaq.identity.app:
    image: basefaq.identity.app
    build:
      context: .
      dockerfile: ../dotnet/BaseFaq.Identity.App/Dockerfile
    ports:
      - "6000:6001"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=bf_identity_db;Username=postgres;Password=Pass123$;
    networks:
      - bf-network

networks:
  bf-network:
    external: true
    name: bf-network
