services:
  basefaq.faq.portal.api:
    image: basefaq.faq.portal.api
    build:
      context: ..
      dockerfile: dotnet/BaseFaq.Faq.Portal.Api/Dockerfile
    ports:
      - "5010:5010"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5010
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - bf-network
  basefaq.tenant.backoffice.api:
    image: basefaq.tenant.backoffice.api
    build:
      context: ..
      dockerfile: dotnet/BaseFaq.Tenant.BackOffice.Api/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - bf-network
  basefaq.tenant.portal.api:
    image: basefaq.tenant.portal.api
    build:
      context: ..
      dockerfile: dotnet/BaseFaq.Tenant.Portal.Api/Dockerfile
    ports:
      - "5002:5002"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5002
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - bf-network
  basefaq.faq.public.api:
    image: basefaq.faq.public.api
    build:
      context: ..
      dockerfile: dotnet/BaseFaq.Faq.Public.Api/Dockerfile
    ports:
      - "5020:5020"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5020
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - bf-network

networks:
  bf-network:
    external: true
    name: bf-network
